/* Tags */
sidenav {
  background-color: white;
}
md-datepicker ~ .hint {
  padding-left: 6em;
}
md-input-container label {
	overflow: visible !important;
}
md-autocomplete-wrap {
  box-shadow: none!important;
}

/* Classes */
.alert-message {
  color: rgb(221,44,0);
  font-size: 0.8em
}
.center-text {
  text-align: center!important;
}
.hide-overflow {
  overflow: hidden;
}
.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
}
.main-content {
  width: 100%;
}
.negative-container-padding {
  margin-bottom: -30px;
}
.pointer {
  cursor: pointer;
}
.remove-margin {
  margin: 0px!important;
}
.remove-bottom-margin {
  margin-bottom: 0px!important;
}
.sidenav {
  height: 100%;
  min-height: 100vh;
  max-width: 15em;
}
.sidenav-small {
  height: 100%;
  min-height: 100vh;
  max-width: 4em;
}

/* Table */
table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable tr:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  /* color: #333333; */
  text-align: center;
  /* border-left: 2px solid #333333; */
}
table.greyGridTable thead th:first-child {
  border-left: none;
}
table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}

/* Animations */
.fade, .fade.ng-enter {
  animation: fadeIn 0.5s;
}
.fade.ng-hide, .fade.ng-leave {
  animation: fadeOut 0.3s;
}
.fade-in-up-down.ng-enter, .fade-in-up-down.ng-enter {
  animation: fadeInDown 0.5s;
}
.fade-in-up-down.ng-leave, .fade-in-up-down {
  animation: fadeInUp 0.5s;
}
.fade-in-view.ng-enter {
  animation: fadeInRight 0.5s;
}
.fade-in-view.ng-leave {
  animation: fadeOutUp 0.1s;
}