<div layout="column" layout-fill layout-align="center">
  <span layout layout-align="center center">Luiza Sales Ateliê</span>
  <br>
  <div flex="50" layout="row" layout-align="center">
    <md-card layout="column" layout-align="center" flex="80" layout-padding style="max-width: 600px">
      <form name="loginForm">
        <md-input-container class="md-block">
          <md-icon>
            <md-icon>email</md-icon>
          </md-icon>
          <input ng-model="ctrl.user.email"
            type="email" placeholder="Email"
            name="email" ng-required="true">
          <div ng-messages="loginForm.email.$error" class="alert-message" role="alert">
            <div ng-message="email">Endereço de email inválido</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon>
            <md-icon>vpn_key</md-icon>
          </md-icon>
          <input ng-model="ctrl.user.password" name="password"
            type="password" placeholder="Senha"
            ng-required="true">
          <div ng-messages="loginForm.email.$error" class="alert-message" role="alert">
            <div ng-message="required">É necessário digitar uma senha</div>
          </div>
        </md-input-container>
        <p class="alert-message" ng-show="ctrl.unauthorizedUser">Usuário e/ou senha inválidos</p>
        <div layout="row" layout-align="start center">
          <md-button layout layout-align="center center"
            ng-disabled="ctrl.isLoggingIn"
            class="md-raised md-primary"
            type="submit"
            ng-click="ctrl.login()">
            <span ng-show="!ctrl.isLoggingIn">Entrar</span>
            <md-progress-circular
              ng-show="ctrl.isLoggingIn"
              md-diameter="20">
            </md-progress-circular>
          </md-button>
        </div>
      </form>
    </md-card>
  </div>
</div>