<md-card layout-padding class="fade-in-up-down">
  <form name=clientForm ng-submit="clientForm.$valid && ctrl.createClient(ctrl.client)" novalidate>
    <md-subheader>Dados do cliente:</md-subheader>
    <div layout="row" layout-align-gt-sm="space-around center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Nome</label>
          <md-icon>person</md-icon>
          <input name="name" ng-model="ctrl.client.name" ng-required="true">
          <div ng-messages="clientForm.name.$error">
            <div ng-message="required">É necessário inserir um nome</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>CPF (somente números)</label>
          <md-icon>money</md-icon>
          <input type="number" name="cpf" ng-model="ctrl.client.cpf" ng-required="true">
          <div ng-messages="clientForm.cpf.$error">
            <div ng-message="required">É necessário inserir um CPF</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Email</label>
          <md-icon>email</md-icon>
          <input name="email" type="email" ng-model="ctrl.client.email" ng-required="true" ng-pattern="/^.+@.+\..+$/">
          <div ng-messages="clientForm.email.$error">
            <div ng-message-exp="['required','pattern']">
              É necessário inserir um email válido
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Tel. / Whatsapp</label>
          <md-icon>stay_primary_portrait</md-icon>
          <input name="phone" ng-model="ctrl.client.phone" ng-required="true" ng-pattern="/^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/">
          <div ng-messages="clientForm.phone.$error">
            <div ng-message-exp="['required','pattern']">
              É necessário inserir um telefone válido
            </div>
          </div>
        </md-input-container>
    </div>

    <md-subheader>Dados da(s) criança(s):</md-subheader>
    <div ng-repeat="(key, child) in ctrl.client.children"
        layout="row"
        layout-align-gt-sm="space-around center"
        layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="45" flex="100">
          <label>Nome da Criança <span ng-if="ctrl.client.children.length > 1">{{$index + 1}}</span></label>
          <md-icon>face</md-icon>
          <input name="childName" ng-model="child.name" ng-required="true">
          <div ng-messages="clientForm.name.$error">
            <div ng-message="required">É necessário inserir um nome</div>
          </div>
        </md-input-container>

        <span layout="row" layout-align="start center" flex-gt-sm="45" flex="100">
          <md-input-container class="md-block">
            <label>Nascimento <span ng-if="ctrl.client.children.length > 1">{{$index + 1}}</span></label>

            <md-datepicker ng-model="child.birthday" onkeydown="return false"
              md-is-open="ctrl.isCalendarOpen[$index]" ng-click="ctrl.isCalendarOpen[$index] = true"
              name="birthday" ng-placeholder="30/01/2000" md-current-view="year" md-max-date="ctrl.today"
              ng-required="true" ng-change="ctrl.updateChildAge(child.birthday, child)">
            </md-datepicker>

            <div ng-show="clientForm.birthday.$untouched" class="hint">Ex.: 30/01/2000</div>
            <div ng-messages="clientForm.birthday.$error">
                <div ng-message-exp="['required','pattern']">É necessário escolher uma data válida</div>
            </div>
          </md-input-container>
          <span ng-if="child.birthday" layout-padding style="padding-bottom: 1em;">
              <span ng-if="!child.age">(Nem um ano de idade)</span>
              <span ng-if="child.age">({{child.age}} {{child.age > 1 ? 'anos' : 'ano'}} de idade)</span>
          </span>
        </span>

        <span style="padding-bottom: 1em;"
        flex-gt-sm="5" flex="100" ng-if="ctrl.client.children.length > 1"
        title="Deletar criança" >
          <md-button class="md-block md-warn" ng-click="ctrl.removeChild(key)">
            <md-icon>delete</md-icon>
          </md-button>
        </span>

        <span flex="100" layout="column" layout-align="start end">
          <md-button ng-click="ctrl.addChild()" ng-if="$last">Adicionar outra criança</md-button>
        </span>
    </div>

    <span>
      <md-button type="submit" class="md-raised md-accent">
        <span ng-show="!ctrl.isSaving">Salvar</span>
        <md-progress-circular ng-show="ctrl.isSaving" md-mode="indeterminate"></md-progress-circular>
      </md-button>
      <md-button class="md-warn" ng-click="ctrl.cancelAddition()">Cancelar</md-button>
    </span>
  </form>

</md-card>