<style>
  .md-chips {
    box-shadow: 0 0px !important;
  }
</style>

<div layout="column" ng-show="!ctrl.isAddingOrder" style="max-height: calc(100vh - 64px)">
  <md-content ng-if="ctrl.orders">

    <div layout="row" layout-align="center center" layout-fill ng-if="!ctrl.showTextFilter">
      <span>
        Mostrar pedidos de
        <md-datepicker ng-model="ctrl.ordersStartAt" onkeydown="return false" ng-placeholder="30/01/2000"
          md-current-view="day" ng-change="ctrl.updateOrderDates(ctrl.ordersStartAt, ctrl.ordersEndsAt)">
        </md-datepicker>
        &nbsp;até
        <md-datepicker ng-model="ctrl.ordersEndsAt" onkeydown="return false" ng-placeholder="30/01/2000"
          md-current-view="day" ng-change="ctrl.updateOrderDates(ctrl.ordersStartAt, ctrl.ordersEndsAt)">
        </md-datepicker>
        <md-button style="margin-left: 20px" ng-click="ctrl.printOrders()">
          <md-icon title="Imprimir">print</md-icon>
        </md-button>
        <md-button style="margin-left: 20px" ng-click="ctrl.showTextFilter = true;
            ctrl.updateOrderDatesForTextSearch();">
          <md-icon>search</md-icon>
        </md-button>
      </span>
    </div>

    <div layout="row" layout-align="center center" layout-fill ng-if="ctrl.showTextFilter">
      <md-input-container class="md-block" flex-gt-sm="40" flex="100">
        <label>Busca por texto</label>
        <md-icon>search</md-icon>
        <input ng-model="ctrl.orderTextFilter" ng-required="true">
      </md-input-container>

      <md-button style="margin-left: 20px" ng-click="ctrl.showTextFilter = false;
          ctrl.updateOrderDates(ctrl.ordersStartAt, ctrl.ordersEndsAt);">
        <md-icon>
          close
        </md-icon>
      </md-button>
      <md-button style="margin-left: 20px" ng-click="ctrl.printOrders()">
        <md-icon title="Imprimir">print</md-icon>
      </md-button>
    </div>

    <div ng-if="ctrl.loadingOrdersMessages" layout="row" layout-align="center center" layout-fill>
      <br><br>
      {{ ctrl.loadingOrdersMessages }}...
    </div>

    <section ng-repeat="orderDate in ctrl.filteredOrderDates" ng-if="ctrl.getOrdersByDate(orderDate).length">
      <md-subheader><b>Entrega: {{ctrl.formatDate(orderDate)}}</b>
        ({{ctrl.getDaysToDelivery(orderDate)}})
      </md-subheader>
      <md-card ng-repeat="order in ctrl.getOrdersByDate(orderDate) track by $index">
        <div layout="row" layout-padding layout-fill layout-wrap layout-align="space-between"
          ng-if="!ctrl.isShowingDetails()">
          <div layout="column" layout-align="space-between start" flex="100" flex-gt-sm="40">
            <span>
              <span title="{{ order.child.name }}"><b>Criança</b>: {{ ctrl.reduceName(order.child.name) }}</span> <br>
              <span title="{{ order.child.client.name }}"><b>Responsável</b>:
                {{ ctrl.reduceName(order.child.client.name) }} ({{ order.child.client.phone }})</span>
            </span>
            <span ng-if="order.delivery_by === 'atelier'">
              <md-icon>cake</md-icon>Entrega no <b>ateliê</b> às {{ order.delivery_hour }} horas.
            </span>
            <span ng-if="order.delivery_by === 'party'">
              <md-icon>directions</md-icon> Entrega na <b>festa</b> às {{ order.delivery_hour }} horas.
            </span>
            <span ng-if="order.delivery_by === 'correios'">
              <md-icon>local_shipping</md-icon> Envio pelos <b>Correios</b> para {{ order.city }}.
            </span>
          </div>
          <div layout="column" layout-align="end center" flex="100" flex-gt-sm="15">
            <span layout="column" layout-align="center center" class="center-text">
              <md-icon ng-class="{'email-not-sent': order.email_status == 0,
                'email-accepted': order.email_status == 2,
                'email-denied': order.email_status == 3}">email</md-icon>
              <span>{{ctrl.getEmailStatus(order.email_status)}}</span>
            </span>
          </div>
          <div layout="column" layout-align="space-between end" flex="100" flex-gt-sm="40">
            <md-chips>
              <md-chip style="background-color: {{ ctrl.getOrderStatus(order).color }}; color: white">
                {{ ctrl.getOrderStatus(order).status }}
              </md-chip>
            </md-chips>
            <md-button ng-click="order.showDetails = true">
              <md-icon>remove_red_eye</md-icon> Detalhes
            </md-button>
          </div>
        </div>

        <div layout="column" layout-padding ng-if="order.showDetails">
          <div layout="row">
            <span flex="50">
              <b>Criança</b>: {{order.child.name}} <br>
              <b>Nascimento:</b> {{ctrl.formatBirthday(order.child.birthday)}}
              <span>({{ctrl.childAge(order.child.birthday)}})</span>
            </span>

            <span flex="50">
              <b>Responsável</b>: {{order.child.client.name}} <br>
              <b>CPF</b>: {{order.child.client.cpf}} <br>
              <b>Contatos</b>: {{order.child.client.phone}} | {{order.child.client.email}}
            </span>
          </div>

          <md-divider></md-divider>

          <span layout="row">
            <span layout="column" flex="50">
              <span ng-if="order.delivery_by === 'atelier'">
                <md-icon>cake</md-icon>Entrega no <b>ateliê</b> às <b>{{ order.delivery_hour }} horas
                  <span ng-show="order.delivery_minute">e {{ order.delivery_minute }} minutos</span></b>.
              </span>
              <span ng-if="order.delivery_by === 'party'">
                <md-icon>directions</md-icon> Entrega na <b>festa</b> às <b>{{ order.delivery_hour }} horas
                  <span ng-show="order.delivery_minute">e {{ order.delivery_minute }} minutos</span></b>
                no endereço:
              </span>
              <span ng-if="order.delivery_by === 'correios'">
                <md-icon>local_shipping</md-icon> Envio pelos <b>Correios</b> para:
              </span>
              <md-switch ng-model="order.delivered" ng-change="ctrl.changeDeliveredStatus(order)">
                Pedido enviado/entregue
              </md-switch>
            </span>
            <span ng-if="order.delivery_by !== 'atelier'" flex="50">
              <span>
                {{order.public_place}},
                <span ng-show="order.complement"> nº {{order.public_place_number}},</span>
                {{order.neighborhood}}, {{order.city}}/{{order.state}}.
                <span ng-if="order.complement">({{order.complement}})</span>
              </span>
            </span>
          </span>

          <md-divider></md-divider>

          <span>
            <b>Tema da festa</b>: {{order.theme}} <br>
            <b>Cores</b>: {{order.colors}} <br>
            <b>Anotações</b>: {{order.anotations}} <br>
          </span>

          <md-table-container>
            <table md-table class="greyGridTable">
              <thead md-head>
                <tr md-row>
                  <th class="center-text" md-column>Nome</th>
                  <th class="center-text" md-column>Preço (R$)</th>
                  <th class="center-text" md-column>Quantidade</th>
                  <th class="center-text" md-column>Total</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="(key, product) in order.orderProducts">
                  <td>{{product.name}}</td>
                  <td>R${{ctrl.formatPrice(product.price)}}</td>
                  <td>{{product.quantity}}</td>
                  <td>R${{ctrl.formatPrice(product.quantity * product.price)}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <div layout="row" layout-align="space-between center">
            <span ng-show="order.discount">
              <b>Desconto</b>: R${{ctrl.getDiscountInCash(order)}} ou {{order.discount | limitTo: 4}}%
              ({{order.discount_justification}}).
            </span>
            <span ng-show="!order.discount"></span>
            <span><b>Preço total<span ng-show="order.discount"> com desconto</span></b>:
              R${{order.total_products_price}}</span>
          </div>

          <md-divider></md-divider>

          <span>
            <span><b>Forma de pagamento</b>: {{order.payment_method}}</span> em {{order.num_installments}}
            parcela<span ng-show="order.num_installments > 1">s</span>.
          </span>
          <div layout="row" layout-align="space-around center">
            <span ng-repeat="installment in order.installments" layout="column" class=""
              layout-align="space-between center">
              <span><b>Parcela {{$index + 1}}</b></span>
              <span>{{ctrl.formatDate(installment.payment_day)}}</span>
              <span>R${{ctrl.formatPrice(installment.price)}}</span>
              <span ng-show="!installment.paid">
                <span ng-show="ctrl.daysLeft(installment.payment_day) > 1">
                  Vence em {{ctrl.daysLeft(installment.payment_day)}} dias.
                </span>
                <span ng-show="ctrl.daysLeft(installment.payment_day) === 0">
                  Vence hoje!
                </span>
                <span ng-show="(ctrl.daysLeft(installment.payment_day) < 0)">
                  <md-icon class="md-primary">warning</md-icon> Atrasada
                </span>
              </span>
              <md-switch ng-model="installment.paid" ng-change="ctrl.changeInstallmentPaidStatus(installment)">
                Parcela quitada
              </md-switch>
            </span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span></span>
            <span><b>Preço total das parcelas</b>: R${{order.total_installment_price}}</span>
          </div>

          <div layout="row" layout-align="space-between center">
            <span>
              <md-button ng-click="order.showDetails = false" class="md-primary md-raised">
                Voltar
              </md-button>
              <md-button ng-click="ctrl.editOrder(order)" class="md-raised">
                <md-icon>edit</md-icon>Editar
              </md-button>
            </span>
          </div>
        </div>
      </md-card>
    </section>

    <div layout="row" layout-align="center center" layout-fill ng-if="!ctrl.filteredOrderDates.length">
      <br><br>
      Não há pedidos para este intervalo.
    </div>

    <ng-include style="position: absolute; left: -9999px;" src="'./component/orders-view/orders-print.html'">
    </ng-include>
  </md-content>
  <md-content ng-if="!ctrl.orders">
    <div layout="row" layout-align="center center" layout-fill>
      <br><br>
      Carregando pedidos...
    </div>
  </md-content>
</div>

<md-button class="md-fab md-fab-bottom-right fade" ng-click="ctrl.triggerAddingOrder()" ng-show="!ctrl.isAddingOrder">
  <md-icon>add</md-icon>
</md-button>

<add-order cancel-callback="ctrl.cancelAddingOrder()" order-to-edit="ctrl.orderToEdit" orders="ctrl.orders"
  ng-if="ctrl.isAddingOrder">
</add-order>