<span id="for-print" ng-if="ctrl.isPrinting">
    <div layout="row" layout-wrap style="min-width: 1000px" layout-align="space-between center">
      <div ng-repeat="orderDate in ctrl.filteredOrderDates track by $index"
        style="max-width: 500px" ng-if="ctrl.getOrdersByDate(orderDate).length">
        <div><b>Entrega: {{ctrl.formatDate(orderDate)}}</b>
          ({{ctrl.getDaysToDelivery(orderDate)}})
        </div>
        <div ng-repeat="order in ctrl.getOrdersByDate(orderDate) track by $index">
          <div>
            <span>
              <b>Criança</b>: {{order.child.name}} <br>
              <b>Nascimento:</b> {{ctrl.formatBirthday(order.child.birthday)}}
              <span>({{ctrl.childAge(order.child.birthday)}})</span>
            </span>
            <br>
            <span>
              <b>Responsável</b>: {{order.child.client.name}}
            </span>
          </div>
          <br>
          <span>
            <b>Tema da festa</b>: {{order.theme}} <br>
            <b>Cores</b>: {{order.colors}} <br>
            <b>Anotações</b>: {{order.anotations}} <br>
          </span>
          <ul>
            <li ng-repeat="(key, product) in order.orderProducts">
              {{product.quantity}}x {{product.name}}
            </li>
          </ul>
          <hr>
          <br>
        </div>
        <br>
      </div>
    </div>
  </span>