<div ng-if="ctrl.loadingOrder" layout="row" layout-align="center center">
  <br><br>
  Carregando...
</div >
<md-card layout-padding class="fade-in-up-down" ng-if="!ctrl.loadingOrder">
  <form name=orderForm ng-submit="ctrl.verifyFormValidation(orderForm.$valid) && ctrl.createOrder(ctrl.order)" novalidate>
    <md-subheader>Cliente</md-subheader>
    <div layout="column">
      <md-input-container class="md-block remove-bottom-margin" flex="50">
        <label>Nome</label>
        <md-autocomplete md-selected-item="ctrl.selectedChild" name="client"
          md-search-text="ctrl.clientSearchText"
          md-items="child in ctrl.getMatchingClients(ctrl.clientSearchText)"
          md-item-text="child.client.name"
          md-clear-button="false" md-min-length="0"
          placeholder="Ex. Fulano de Tal" ng-required="true"
          md-selected-item-change="ctrl.updateClientForm(ctrl.selectedChild)">
          <span md-highlight-text="ctrl.clientSearchText">
            NOME: {{child.client.name}} ({{child.client.cpf}}) | EMAIL: {{child.client.name}} | CRIANÇA: {{child.name}}
          </span>
        </md-autocomplete>
        <div ng-messages="orderForm.client.$error">
          <div ng-message="required">É necessário escolher um cliente</div>
        </div>
      </md-input-container>

      <span ng-if="ctrl.selectedChild" layout="row"
        layout-align="center start"
        layout-padding layout-wrap>
        <span layout="row" flex="100">
          <span flex><strong>CPF</strong>: {{ctrl.selectedChild.client.cpf}}</span>
          <span flex><strong>Email</strong>: {{ctrl.selectedChild.client.email}}</span>
          <span flex><strong>Telefone</strong>: {{ctrl.selectedChild.client.phone}}</span>
        </span>
        <span layout="row" flex="100">
          <span flex><strong>Nome da criança</strong>: {{ctrl.selectedChild.name}}</span>
          <span flex><strong>Aniversário</strong>: {{ctrl.selectedChild.formattedBirthday}}</span>
          <span flex><strong>Idade atual</strong>: {{ctrl.selectedChild.age}} {{ctrl.selectedChild.age > 1 ? 'anos' : 'ano'}}</span>
        </span>
      </span>

    </div>

    <md-subheader>Endereço da festa</md-subheader>
    <div layout="row" layout-align-gt-sm="space-between center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="20" flex="100">
          <md-icon>location_on</md-icon>
          <label>CEP</label>
          <input name="cep"
            ng-keypress="$event.keyCode === 13 && ctrl.buildAddressFromCEP(ctrl.order.cep)"
            ng-model="ctrl.order.cep"
            ng-required="true">
          <md-icon class="md-primary pointer"
            ng-click="ctrl.buildAddressFromCEP(ctrl.order.cep)">
            search
          </md-icon>
          <div ng-messages="orderForm.cep.$error">
            <div ng-message="required">É necessário inserir um CEP</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="65" flex="100">
          <label>Logradouro</label>
          <md-icon>streetview</md-icon>
          <input name="public_place" ng-model="ctrl.order.public_place" ng-required="true">
          <div ng-messages="orderForm.public_place.$error">
            <div ng-message="required">É necessário inserir um logradouro</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="10" flex="100">
          <label>Nº</label>
          <md-icon>money</md-icon>
          <input name="number" ng-model="ctrl.order.public_place_number">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="25" flex="100">
          <label>Bairro</label>
          <md-icon>layers</md-icon>
          <input name="neighborhood" ng-model="ctrl.order.neighborhood" ng-required="true">
          <div ng-messages="orderForm.neighborhood.$error">
            <div ng-message="required">É necessário inserir um bairro</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="25" flex="100">
          <label>Cidade</label>
          <md-icon>location_city</md-icon>
          <input name="city" ng-model="ctrl.order.city" ng-required="true">
          <div ng-messages="orderForm.city.$error">
            <div ng-message="required">É necessário inserir uma cidade</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="15" flex="100">
          <label>Estado</label>
          <md-icon>domain</md-icon>
          <input name="state" ng-model="ctrl.order.state" ng-required="true">
          <div ng-messages="orderForm.state.$error">
            <div ng-message="required">É necessário inserir um estado</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="30" flex="100">
          <label>Complemento</label>
          <md-icon>short_text</md-icon>
          <input name="complement" ng-model="ctrl.order.complement">
        </md-input-container>
    </div>

    <md-subheader>Detalhes da festa</md-subheader>
    <div layout="row" layout-align-gt-sm="space-between center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="60" flex="100">
          <label>Tema</label>
          <md-icon>extension</md-icon>
          <input name="theme" ng-model="ctrl.order.theme" ng-required="true">
          <div ng-messages="orderForm.theme.$error">
            <div ng-message="required">É necessário inserir um tema</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="35" flex="100">
          <label>Cores</label>
          <md-icon>color_lens</md-icon>
          <input name="colors" ng-model="ctrl.order.colors" ng-required="true">
          <div ng-messages="orderForm.colors.$error">
            <div ng-message="required">É necessário inserir uma(s) cor(es)</div>
          </div>
        </md-input-container>

        <span layout="row" layout-align="center center" flex="40">
          <md-input-container class="md-block" flex-gt-sm="60" flex="100">
            <label>Festa</label>
            <md-datepicker ng-model="ctrl.order.party_day" onkeydown="return false"
              md-is-open="ctrl.isPartyDayCalendarOpen" ng-click="ctrl.isPartyDayCalendarOpen = true"
              name="party_day" ng-placeholder="30/01/2000" md-current-view="year" ng-required="true"">
            </md-datepicker>
            <div ng-show="orderForm.party_day.$untouched" class="hint">Ex.: 30/01/2000</div>
            <div ng-messages="orderForm.party_day.$error">
                <div ng-message-exp="['required','pattern']">É necessário escolher uma data válida</div>
            </div>
          </md-input-container>
          <span layout="row" layout-align="center center" flex-gt-sm="40" flex="100">
              <md-input-container class="md-block">
                <label>Horário da festa</label>
                <md-icon>access_time</md-icon>
                <input name="party_hour" type="number" min="0" max="23" ng-model="ctrl.order.party_hour"
                  placeholder="20" ng-required="true">
                <div ng-messages="orderForm.party_hour.$error">
                  <div ng-message="required">É necessário inserir um horário</div>
                </div>
              </md-input-container>
              :
              <md-input-container class="md-block">
                <label></label>
                <input type="number" min="0" max="59" ng-model="ctrl.order.party_minute" placeholder="00">
              </md-input-container>
          </span>
        </span>

        <md-radio-group class="md-block" ng-model="ctrl.order.delivery_by" flex-gt-sm="20"
          flex="100" ng-required="true" ng-init="ctrl.order.delivery_by = 'party'">
          <md-radio-button value="party">
            Entrega na festa
          </md-radio-button>
          <md-radio-button value="correios">
            Entrega pelos Correios
          </md-radio-button>
          <md-radio-button value="atelier">
            Entrega no ateliê
          </md-radio-button>
        </md-radio-group>

        <span layout="column" layout-align="space-around center" flex-gt-sm="20" flex="100"
          ng-if="ctrl.order.delivery_by == 'party' || ctrl.order.delivery_by == 'atelier'">
          <span layout="column" flex-gt-sm="20" flex="100">
            <md-input-container class="md-block remove-margin">
              <label>Entrega</label>
              <md-datepicker ng-model="ctrl.order.delivery_day" onkeydown="return false"
                md-is-open="ctrl.isDeliveryDayCalendarOpen" ng-click="ctrl.isDeliveryDayCalendarOpen = true"
                name="delivery_day" ng-placeholder="30/01/2000" md-current-view="month" ng-required="true"">
              </md-datepicker>
              <div ng-show="orderForm.delivery_day.$untouched" class="hint">Ex.: 30/01/2000</div>
              <div ng-messages="orderForm.delivery_day.$error">
                  <div ng-message-exp="['required','pattern']">É necessário escolher uma data válida</div>
              </div>
            </md-input-container>
          </span>
          <span layout="row">
            <md-input-container class="md-block" flex="60">
              <label>Horário da entrega</label>
              <md-icon>access_time</md-icon>
              <input name="delivery_hour" type="number" min="0" max="23" ng-model="ctrl.order.delivery_hour"
                placeholder="17" ng-required="true">
              <div ng-messages="orderForm.delivery_hour.$error">
                <div ng-message="required">É necessário inserir um horário</div>
              </div>
            </md-input-container>
            :
            <md-input-container class="md-block" flex="40">
              <label></label>
              <input type="number" min="0" max="59" ng-model="ctrl.order.delivery_minute" placeholder="00">
            </md-input-container>
          </span>
        </span>

        <span layout="column" flex-gt-sm="20" flex="100" ng-if="ctrl.order.delivery_by == 'correios'">
          <md-input-container class="md-block remove-margin">
            <label>Envio</label>
            <md-datepicker ng-model="ctrl.order.delivery_day" onkeydown="return false"
              md-is-open="ctrl.isDeliveryDayCalendarOpen" ng-click="ctrl.isDeliveryDayCalendarOpen = true"
              name="delivery_day" ng-placeholder="30/01/2000" md-current-view="month" ng-required="true"">
            </md-datepicker>
            <div ng-show="orderForm.delivery_day.$untouched" class="hint">Ex.: 30/01/2000</div>
            <div ng-messages="orderForm.delivery_day.$error">
                <div ng-message-exp="['required','pattern']">É necessário escolher uma data válida</div>
            </div>
          </md-input-container>
          <span layout="row">
            <md-input-container class="md-block remove-margin" flex="70">
              <label>Rastreio</label>
              <input name="tracking_code" ng-model="ctrl.order.tracking_code">
            </md-input-container>
            <md-input-container class="md-block remove-margin" flex="30">
              <label>R$</label>
              <input type="string"
                ng-change="ctrl.order.delivery_price = ctrl.formatPrice(ctrl.order.delivery_price)"
                ng-model="ctrl.order.delivery_price" ng-change="ctrl.updateTotalPrice(product)">
            </md-input-container>
          </span>
        </span>
        <md-input-container class="md-block" flex="100">
          <label>Anotações</label>
          <md-icon>cake</md-icon>
          <textarea ng-model="ctrl.order.anotations" rows="1" md-select-on-focus></textarea>
        </md-input-container>
    </div>

    <md-subheader>Produtos</md-subheader>
    <div layout="column">
      <span layout="row" layout-align-gt-sm="space-between center" ng-repeat="(key, product) in ctrl.order.products" flex="100">
        <md-input-container class="md-block" flex="50">
          <label>Nome</label>
          <md-autocomplete md-selected-item="product.autocompleteItem"
            md-search-text="product.searchText"
            md-items="item in ctrl.getMatchingProducts(product.searchText, ctrl.order.products)"
            md-item-text="item.name" md-clear-button="false" md-min-length="0"
            placeholder="Ex. Bolo" md-search-text-change="ctrl.addNewProductRow(ctrl.order.products)"
            md-selected-item-change="ctrl.updateAutocompleteProduct(product);ctrl.addNewProductRow(ctrl.order.products)">
            <span md-highlight-text="product.searchText">{{item.name}} (R$ {{item.price}})</span>
          </md-autocomplete>
        </md-input-container>
        {{}}
        <md-input-container class="md-block remove-margin" flex="10">
          <label>Preço (R$)</label>
          <input type="string"
            ng-change="product.price = ctrl.formatPrice(product.price);
              ctrl.updateTotalPrice(product); ctrl.addNewProductRow(ctrl.order.products)"
            ng-model="product.price">
        </md-input-container>
        <md-input-container class="md-block remove-margin" flex="10">
          <label>Quantidade</label>
          <input type="number" min="1" ng-model="product.quantity"
            ng-change="ctrl.updateTotalPrice(product);ctrl.addNewProductRow(ctrl.order.products)">
        </md-input-container>
        <md-input-container class="md-block remove-margin" flex="10">
          <label>Total (R$)</label>
          <input min="1" ng-model="product.totalPrice" onkeydown="return false">
        </md-input-container>
        <span style="padding-bottom: 1em;" flex="10"
          title="Deletar produto" >
          <md-button class="md-block md-warn" ng-click="ctrl.removeProduct(key)"
            ng-disabled="key === (ctrl.order.products.length - 1)">
            <md-icon>delete</md-icon>
          </md-button>
        </span>
      </span>
      <span layout="row" layout-align="space-between center" flex="100">
          <span layout="column" flex="60">
            <md-input-container class="md-block remove-margin" flex>
              <md-checkbox ng-model="ctrl.order.has_discount" aria-label="Checkbox 1"
                ng-change="ctrl.updateTotalProductsPrice()"
                ng-true-value="1" ng-false-value="0">
                Desconto
              </md-checkbox>
            </md-input-container>
            <span layout="row" layout-align="space-between center" ng-if="ctrl.order.has_discount" flex="30">
              <md-input-container class="md-block remove-margin" flex="15">
                <label>Desconto (%)</label>
                <input type="number" min="1" ng-change="ctrl.updateCashDiscountAndTotalPrice()"
                  ng-model="ctrl.order.discount">
              </md-input-container>
              <md-input-container class="md-block remove-margin" flex="15">
                <label>Desconto (R$)</label>
                <input type="number" min="1"
                  ng-change="ctrl.updatePercentageDiscountAndTotalPrice();"
                  ng-model="ctrl.order.discountInCash">
              </md-input-container>
              <md-input-container class="md-block remove-margin" flex="60">
                <label>Justificativa</label>
                <input ng-model="ctrl.order.discount_justification">
              </md-input-container>
            </span>
          </span>
          <md-input-container class="md-block remove-margin" flex="20">
            <label>Total Geral (R$)</label>
            <input min="0" ng-model="ctrl.order.total_products_price" onkeydown="return false">
          </md-input-container>
      </span>
    </div>

    <md-subheader>Pagamento</md-subheader>
    <div layout="row" layout-align-gt-sm="space-between center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="70" flex="100">
          <label>Forma de pagamento</label>
          <md-icon>account_balance_wallet</md-icon>
          <input name="payment_method" ng-model="ctrl.order.payment_method" ng-required="true">
          <div ng-messages="orderForm.payment_method.$error">
            <div ng-message="required">É necessário inserir uma forma de pagamento</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm="25" flex="100">
          <label>Nº parcelas</label>
          <input type="number" name="num_installments"
            ng-change="ctrl.fillInstallmentsWithPrice(ctrl.order.num_installments)"
            ng-model="ctrl.order.num_installments" min="1" ng-required="true">
          <div ng-messages="orderForm.num_installments.$error">
            <div ng-message="required">É necessário inserir o nº de parcelas</div>
          </div>
        </md-input-container>
    </div>
    <div layout="row" layout-align-gt-sm="start center" ng-if="ctrl.order.num_installments" layout-wrap>
        <span layout="row" ng-repeat="_ in [].constructor(ctrl.order.num_installments) track by $index" flex-gt-sm="50" flex="100">
          <md-input-container class="md-block" flex="50">
            <label>Parcela {{$index + 1}}</label>
            <md-datepicker ng-model="ctrl.order.paymentDay[$index]" onkeydown="return false"
              md-is-open="ctrl.isPaymentDayCalendarOpen[$index]"
              ng-click="ctrl.isPaymentDayCalendarOpen[$index] = true"
              name="paymentDay" ng-placeholder="30/01/2000" md-current-view="month" ng-required="true"">
            </md-datepicker>
            <div ng-show="orderForm.paymentDay.$untouched" class="hint">Ex.: 30/01/2000</div>
            <div ng-messages="orderForm.paymentDay.$error">
                <div ng-message-exp="['required','pattern']">É necessário escolher uma data válida</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="15">
            <label>R$</label>
            <input type="string"
              ng-change="ctrl.order.installments[$index].price = ctrl.formatPrice(ctrl.order.installments[$index].price);
                ctrl.updateTotalInstallmentPrice()"
              ng-model="ctrl.order.installments[$index].price">
          </md-input-container>
        </span>
    </div>
    <span layout="row" layout-align="end center" flex="100">
        <md-input-container class="md-block remove-margin" flex="20">
          <label>Total Parcelado (R$)</label>
          <input min="0" ng-model="ctrl.order.total_installment_price" onkeydown="return false">
        </md-input-container>
    </span>

    <span>
      <md-button type="submit" class="md-raised md-accent">
        <span ng-show="!ctrl.isSaving">Salvar</span>
        <md-progress-circular ng-show="ctrl.isSaving" md-diameter="20px"
          md-mode="indeterminate">
        </md-progress-circular>
      </md-button>
      <md-button class="md-warn" ng-click="ctrl.cancelCallback()">Cancelar</md-button>
    </span>
  </form>
</md-card>

