<md-card layout-padding class="fade-in-up-down">
  <form name=productForm ng-submit="productForm.$valid && ctrl.createProduct(ctrl.product)" novalidate>
    <md-subheader>Dados do produto:</md-subheader>
    <div layout="row" layout-align-gt-sm="space-around center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Nome</label>
          <md-icon>redeem</md-icon>
          <input name="name" ng-model="ctrl.product.name" ng-required="true">
          <div ng-messages="productForm.name.$error">
            <div ng-message="required">É necessário inserir um nome</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="40" flex="100">
          <label>Preço (R$)</label>
          <md-icon>money</md-icon>
          <input type="string" ng-change="ctrl.updateProductPrice(ctrl.product.price)"
            name="price" ng-model="ctrl.product.price" ng-required="true" step="any">
          <div ng-messages="productForm.price.$error">
            <div ng-message="required">É necessário inserir um preço</div>
          </div>
        </md-input-container>
    </div>

    <span>
      <md-button type="submit" class="md-raised md-accent">
        <span ng-show="!ctrl.isSaving">Salvar</span>
        <md-progress-circular ng-show="ctrl.isSaving" md-diameter="20px"
          md-mode="indeterminate">
        </md-progress-circular>
      </md-button>
      <md-button class="md-warn" ng-click="ctrl.closeEditing()">Cancelar</md-button>
    </span>
  </form>

</md-card>

