.alert-message {
    color: rgb(221,44,0);
    font-size: 0.8em
}

.hide-overflow {
    overflow: hidden;
}

.sidenav {
    height: 100vh;
    max-width: 15em;
}

.sidenav-small {
    height: 100vh;
    max-width: 4em;
}

.main-content {
    width: 100%;
}

/* Animations */

/* fade ng-show & ng-if*/
.fade, .fade.ng-enter {
    animation: fadeIn 0.5s;
}
.fade.ng-hide, .fade.ng-leave {
    animation: fadeOut 0.5s;
}

.fade-in-up-down.ng-enter, .fade-in-up-down.ng-enter {
    animation: fadeInDown 0.5s;
}
.fade-in-up-down.ng-leave, .fade-in-up-down {
    animation: fadeInUp 0.5s;
}