.alert-message {
    color: rgb(221,44,0);
    font-size: 0.8em
}

.hide-overflow {
    overflow: hidden;
}

sidenav {
    background-color: white;
}

.sidenav {
    height: 100%;
    min-height: 100vh;
    max-width: 15em;
}

.sidenav-small {
    height: 100%;
    min-height: 100vh;
    max-width: 4em;
}

.main-content {
    width: 100%;
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

md-datepicker ~ .hint {
    padding-left: 6em;
}

/* Animations */
.fade, .fade.ng-enter {
    animation: fadeIn 0.5s;
}
.fade.ng-hide, .fade.ng-leave {
    animation: fadeOut 0.3s;
}

.fade-in-up-down.ng-enter, .fade-in-up-down.ng-enter {
    animation: fadeInDown 0.5s;
}
.fade-in-up-down.ng-leave, .fade-in-up-down {
    animation: fadeInUp 0.5s;
}

.fade-in-view.ng-enter {
    animation: fadeInRight 0.5s;
}
.fade-in-view.ng-leave {
    animation: fadeOutUp 0.1s;
}