<md-card layout-padding class="fade-in-up-down">
  <form name=productForm ng-submit="ctrl.createProduct(ctrl.productsToAdd)" novalidate>
    <md-subheader>Dados do produto:</md-subheader>
    <div layout="row" ng-repeat="product in ctrl.productsToAdd"
      layout-align-gt-sm="space-around center" layout-wrap>
        <md-input-container class="md-block" flex-gt-sm="30" flex="100">
          <label>Nome</label>
          <md-icon>redeem</md-icon>
          <input name="name" ng-change="ctrl.addNewProductRow()"
            ng-model="product.name" ng-required="true">
        </md-input-container>

        <md-chips flex-gt-sm="30" flex="100" style="margin-top: -42px;"
          ng-model="product.tags" placeholder="Pacote" md-separator-keys="[13, 9, 188]">
        </md-chips>

      <!-- md-enable-chip-edit="true" md-separator-keys="[13, 9, 188]" -->
        <md-input-container class="md-block" flex-gt-sm="30" flex="100">
          <label>Preço (R$)</label>
          <md-icon>money</md-icon>
          <input type="string" ng-change="ctrl.formatPrice(product); ctrl.addNewProductRow()"
            name="price" ng-model="product.price" ng-required="true">
        </md-input-container>
    </div>

    <span layout="row" layout-align="space-between center">
      <span>
        <md-button type="submit" class="md-raised md-accent">
          <span ng-show="!ctrl.isSaving">Salvar</span>
          <md-progress-circular ng-show="ctrl.isSaving" md-diameter="20px"
            md-mode="indeterminate">
          </md-progress-circular>
        </md-button>
        <md-button class="md-warn" ng-click="ctrl.closeEditing()">Cancelar</md-button>
      </span>
    </span>
  </form>

</md-card>

