<md-sidenav ng-class="ctrl.showTitle ? 'sidenav' : 'sidenav-small'"
  md-component-id="left-sidenav"
  md-is-locked-open="ctrl.isLockedOpen">
  <md-toolbar class="md-accent md-hue-1 md-toolbar-tools">
    <md-truncate flex>
        Atêlie Luiza Sales
    </md-truncate>
  </md-toolbar>
  <md-content layout="column" ng-class="ctrl.showTitle ? '' : 'hide-overflow'">
    <sidenav-link goes-to="#!/pedidos" icon="dvr" show-title="ctrl.showTitle" title="Pedidos"></sidenav-link>
    <sidenav-link goes-to="#!/produtos" icon="cake" show-title="ctrl.showTitle" title="Produtos"></sidenav-link>
    <sidenav-link goes-to="#!/clientes" icon="perm_identity" show-title="ctrl.showTitle" title="Clientes"></sidenav-link>
    <sidenav-link goes-to="#!/notificacoes" icon="notifications" show-title="ctrl.showTitle" title="Notificações"></sidenav-link>
    <sidenav-link goes-to="#!/configuracoes" icon="build" show-title="ctrl.showTitle" title="Configurações"></sidenav-link>
  </md-content>
</md-sidenav>